In [15]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv("../data/raw/olympics_data.csv", index_col = 0)

In [3]:
df.head()

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df.describe()

,id,age,height,weight,year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [5]:
# Filters
# Olympics Type
summer = 1
winter = 1

# Medals
bronze = 1
silver = 1
gold = 1

In [6]:
# Filter for Olympics Type
filter_df = df

In [7]:
# Filter for Medals
filter_df = filter_df[filter_df['medal'].notna()]

In [8]:
filter_df.head()

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze

In [9]:
year = 2000

In [11]:
temp = filter_df[filter_df['year'] == year]

df1 = pd.DataFrame()

df1['athletes'] = temp.groupby(['noc'])['id'].nunique()
df1['metal_count'] = temp.groupby(['noc'])['medal'].count()
df1['ave_metals'] = df1['metal_count'] / df1['athletes']

In [12]:
df1.head()

     athletes  metal_count  ave_metals
noc
ALG         5            5    1.000000
ARG        20           20    1.000000
ARM         1            1    1.000000
AUS       161          183    1.136646
AUT         4            4    1.000000

In [18]:
df1 = df1.reset_index()

In [20]:
chart = alt.Chart(df1).mark_circle().encode(
                y = 'athletes',
                x = 'ave_metals',
                size = 'metal_count',
                tooltip='noc').interactive()

chart

alt.Chart(...)